.header
    .flex-container

        .container
            .imgHome
                img.menuHome(src='/images/menuhome.png' alt='menuhome')
            .appName
                p appName
        .logged
            .loggedBox
