doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/favoritos.css
        title JobApp
    body
        .container
            input.input(id="input_search", type="text", name="search")
            button.button(id="btn_search") Search
        .cards
        include ./menu-bar.pug
    script.
        const input = document.querySelector('#input_search');
        const button = document.querySelector('#btn_search');
            //- const searchUser = () => {
            //-     console.log(input.value)
            //- }
            button.addEventListener('click', () => {
                console.log(input.value)
                let newData = async () => { 
                    console.log('click', `api/search/${input.value}`)
                    let result = await fetch(`api/search?keyword=${input.value}`)
                    console.log(result)
                }
                newData()
            })





