doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Login page
    body
        .login-container 
            label(for="mail") Email
            input(type="mail" name="mail" id="mail" required)
            label(for="password") Password
            .password-container
                input(type="password" name="password" id="password" required) 
                i(id="togglePassword" class="fas fa-eye-slash")
            input(type="submit", value="Login")