doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SignUp page
    body
        form(action='/api/user', method="POST")
            label(for="name") Name:
            input(type="text" name="name" id="name" required) 
            label(for="email") Email
            input(type="email" name="email" id="email" required)
            label(for="password") Password
            .password-container
                input(type="password" name="password" id="password" required) 
                i(id="togglePassword" class="fas fa-eye-slash")
            input(type="submit", value="Signup User" id="register_button")
        include ./menu-bar.pug

    script(src='/js/register.js')