body {
  background-color: rgb(154, 154, 179);
  justify-content: space-between;
  }
  .button {
    width: 70px;
    background-color: #e7a923;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    margin: 110px;
    position: relative;
    top: 300px; left: 300px;
    
  }

.footer {
  background-color: cornflowerblue;
  width: 100%;
  justify-content: space-around;
}

.imgHmb {
  width: 100%;
  margin: auto;
  justify-content: right;
  width: 50px;
  margin-left: 300px;
}
.imgProfile {
  width: 30px;
  height: 30px;
}

