* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

.formulario {
    width: 300px;
    height: 300px;
    background-color: #FFD371;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    border-radius: 10px;
    box-shadow: 7px 8px 21px 0px rgba(0,0,0,0.49);
}

.email, .password{
   /* background-color: #316B83; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -300%);
   width: 12rem;
   /* border-radius: 20px; */
   border: none;
   outline: none;
   font-size: 14px;
   border-bottom: 1px solid #fafafa;
   color: whitesmoke;
   background: transparent;
}

.login, .register {
    font-size: .8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8E2657;
    cursor: pointer;
    position: absolute;
    right: 28px
}

.login:hover{
    text-decoration: underline;
}

.register:hover{
    text-decoration: underline;
}


.arriba {
    margin: 0 auto;
    margin-top: -60px;
    font-size: 2.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8E2657;
    /* font-weight: 700; */
}

.login {
    top: 23px;
}

.register {
    top: 43px;
}

#password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 245%);
}

#login_button {
    width: 8rem;
    height: 80px;
    border-radius: 30px;
    background-color: #7EB5A6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 123%);
}

label[for=email] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-122%, 109%);
    color: #8E2657;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

label[for=password] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-217%, -496%);
    color: #8E2657;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.encabezado {
    width: 100%;
    height: 130px;
    background-color: #7EB5A6;
    position: relative;
    top: -100px;
    z-index: -8;
}

.google-container {
    width: 250px;
    height: 50px;
    border: 1px solid grey;
    margin: 0 auto;
    position: relative;
    bottom: -408px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(28,29,31,.24),0 0 2px 0 rgba(28,29,31,.12);
}

.facebook-container {
    width: 250px;
    height: 50px;
    border: 1px solid grey;
    margin: 0 auto;
    position: relative;
    bottom: -418px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(28,29,31,.24),0 0 2px 0 rgba(28,29,31,.12);
}

.logo-google {
    position: relative;
    top: 5px;
}

a {
    color: black;
    position: relative;
    bottom: 9px;
    left: 8px;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;;
}
